# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/out/
.class
.iml
/misc.xml
/uiDesigner.xml
/runConfigurations.xml
/modules.xml
/CheatSheet.iml
/vcs.xml
/KotlinJavaRuntime.xml
